{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filter by Program</title>
  <link rel="stylesheet" href="{%static 'styles.css'%}">
</head>

<body>
  <div class="header">
    <img class="logo" src="{%static 'logo.png'%}">
    <p class="header-text">JoSAA Data Analysis Portal</p>
    <nav>
      <ul class="nav_links">
        <li><a href="{%url 'FilterbyInstitute'%}">Filter By Institute</a></li>
        <li><a href="{%url 'FilterbyProgram'%}">Filter By Program</a></li>
        <li><a href="{%url 'InstituteTrends'%}">Institute Trends</a></li>
        <li><a href="{%url 'ProgramTrends'%}">Program Trends</a></li>
        <li><a href="{%url 'RoundTrends'%}">Round Trends</a></li>
      </ul>
    </nav>
  </div>
  <form method="post" id="form" action="{%url 'FilterbyProgram'%}" style="display: none;">
    {%csrf_token%}
    <input type="text" id="programName" name="program" >
    <input type="text" id="seat" name="seat">
   </form>  
  <div class="container">
    <h2>Filter by Program</h2>
    <p class="container-text">Filter by Program allows you to filter the cut-off data with the selected programs and
      further narrow down with your choice of institutes.</p>
    <div class="main-content">

      <h3>Field</h3>
      <div class="select-box">
        <div class="options-container">
          {%for program in programs%}
          <div class="option"  >
            <input
              value="{{program}}"
              type="radio"
              class="radio"
              id="{{program}}"
              name="{{program}}"
            />
            <label for="{{program}}">{{program}}</label>
          </div>
          {%endfor%}
        </div>

        <div class="selected" id="program">
          Select Field
        </div>

        <div class="search-box">
          <input type="text" placeholder="Start Typing..." />
        </div>
      </div>

      <h3>Seat Type</h3>
      <div class="select-box">
        <div class="options-container">
          <div class="option">
            <input type="radio" class="radio" id="OPEN" name="category" />
            <label for="OPEN">OPEN</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="OBC NCL" name="category" />
            <label for="OBC NCL">OBC NCL</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="SC" name="category" />
            <label for="SC">SC</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="ST" name="category" />
            <label for="ST">ST</label>
          </div>
        </div>

        <div class="selected" id="seattype">
          Select Seat Type
        </div>

        <div class="search-box">
          <input type="text" placeholder="Start Typing..." />
        </div>
      </div>

      

    </div>
  </div>
  <div style="margin-top: 50px;">{{qs|safe}}</div>
  <script src="{%static 'dropdown.js'%}"></script>
  <script>

    const selectedElement = document.querySelector("#program");
    const selectedElement2 = document.querySelector("#seattype");

    let program = '';
    let seat = '';

    // Create a new instance of the MutationObserver
    const observer = new MutationObserver((mutationsList, observer) => {
      // Run your desired function here
      handleSelectedValueChange();
    });

    // Configure and start observing the target element for changes in the 'childList' and 'characterData' properties
    observer.observe(selectedElement, { childList: true, characterData: true });

    // Define your function to be executed whenever the selectedValue changes
    function handleSelectedValueChange() {
       program= selectedElement.innerHTML;
      checkValues();
    }

    // Create a new instance of the MutationObserver
    const observer2 = new MutationObserver((mutationsList, observer) => {
      // Run your desired function here
      handleSelectedValueChange2();
    });

    // Configure and start observing the target element for changes in the 'childList' and 'characterData' properties
    observer2.observe(selectedElement2, { childList: true, characterData: true });

    // Define your function to be executed whenever the selectedValue changes
    function handleSelectedValueChange2() {
      seat = selectedElement2.innerHTML;
      checkValues();
    }

    function checkValues() {
      if (program !== '' && seat !== '') {
        document.querySelector("#programName").value = program
        document.querySelector("#seat").value = seat
        // console.log(program)
        // console.log(seat)

        document.querySelector('#form').submit()
      }
    }

  </script>
</body>

</html>